.heading-3{
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    color:$color-primary ;
    font-family:$font-display ;
    margin-bottom: 1rem;
}
// 
.text{
    font-family: $font-display;
    font-size: 2rem;
    font-weight: 200;
}
.heading-1{
    font-size: 4rem;
}
.heading-2{
    font-size: 3rem;
    font-weight: 500;
    font-style: italic;
    line-height: 1.2;
    margin: 2rem 0;
}
.heading-5{
    font-size: 1.6rem;
    font-family: $font-display;
    font-weight: 500;
    margin: 1rem 0;
}
.btn{
    background-color: $color-primary;
    font-family: $font-display;
    color: $color-grey-light-1;
    transition: 0.35s all;
    font-size: 2rem;
    padding: 1rem 2rem;
    margin: 1rem;
    &:hover{
        background-color: $color-grey-dark-2;
    }
}